
//base
a{
    color: $base-text-color;
    &:hover,
    &:focus {
        color: $link-hover-color;
    }
}
.product-label.new-label{
  background: $theme-color-default;
}

// form
.btn-outline-inverse{
  @include button-variant-outline($btn-default-color, $theme-color-default, $theme-color-default, $white, $theme-color-secondary , $theme-color-secondary );
} 
.btn-outline{
  @include button-variant-outline(  $white, $theme-color-secondary , $theme-color-secondary , $btn-default-color, $theme-color-default, $theme-color-default );
} 



// Contextual variations
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}


// block-variant($border, $heading-text-color, $heading-bg-color, $heading-border)
.#{$block-prefix}-highlighted {
     .#{$block-heading-selector}{
        color:$theme-color-default;    
     }
}

.#{$block-content-selector}{
    .carousel-control{
        color: $base-text-color;
        &:hover{
            color: $theme-color-default;
        }
    }
}


//layout
#topbar  { 
    border-bottom: $topbar-border; 
    background: $topbar-outside-bg;
    .container > .inner{
        @include container-layout-variant( $topbar-color, $topbar-bg, $topbar-link-color, $topbar-link-hover-color ); 
    }    
    .links-outline{
        a{ color: $topbar-link-hover-color; }
    }  
    .btn-group{
      .quick-setting{
          a{
            color: $base-text-color;
            &:hover{
                color: $link-hover-color;
            }
          }
      }
    }
}

#header-main{
   background: $headermain-outside-bg;
   .container > .inner{
        @include container-layout-variant($headermain-color, $headermain-bg, $headermain-color, $headermain-color-hover );   
   }
}

##{$app-brand-prefix}-mainnav {
    background: $mainnav-outside-bg;
    border-top: $mainnav-outside-border;
    border-bottom: $mainnav-outside-border;
    .container > .inner{
        @include container-layout-variant($mainnav-color, $mainnav-bg, $mainnav-color, $mainnav-color-hover);   
        
   }
}

.footer-top{
   .container{
    background: $footer-top-bg;
   }
}

.footer-center .container > .inner a:hover{
  color:$footer-center-color-hover;
}

.footer-nav{ // copyright
    background: $footer-nav-outside-bg;
    .container > .inner{
      background: $footer-nav-outside-bg;
    }
}

// prestashop module
#social_block ul li a{
  color:$brand-primary;
  &:before{
    border:2px solid $brand-primary; 
  }
}

//Social Sharing
.socialsharing_product{
  .btn-facebook, .btn-twitter, .btn-google-plus, .btn-pinterest {
    background-color: $white;
    &:hover{
        color:$theme-color-default;
    }
    i{
      &:hover{
        color:$theme-color-default;
      }
    }
  }

}

.bullet.bullet-icon{
  li a{   
    &:hover:before{
      background: $footer-center-color-hover;
    }
  }
}


.box-services { 
  &:hover{    
    h4{
      color: $link-hover-color;
    }
  }
}

// Tab nav pills
.block{
  .nav-pills {
    > li.active {
      > a{
		&,
		&:hover,
		&:focus {
			background-color: $nav-pills-active-link-hover-bg;
		}
        &:before{
          color: $nav-pills-active-link-hover-bg;
        }
      }    
    }
  }  
}

//prestashop page
.content_sortPagiBar{
	.display{
    .selected{
  		a{		
  			
  			    background-color: $theme-color-default;
  			    border: 1px solid $theme-color-default; 
  			    .fa {
  			         color: $white; 
  			    }   
  		}
    }
	}
} 

table#product_comparison .remove a:hover{
  color:$theme-color-default;
}
//pagination

.pagination {
  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      background-color: $theme-color-default;
      border-color: $theme-color-default;
    }
  }
  >li{
    >a,>span{
      color:$theme-color-default;
      &:hover, &:focus{
        color:$theme-color-default;
      }
    }
  }
}

// BREADCRUMB
.breadcrumb {
	color: $breadcrumb-active-color;       
	a {
	  &:hover {
	      color: $breadcrumb-active-color;
	  }
	}

}

// module
#cart{        
    h4{
        color: $cart-heading-color;
    }
    .title-cart{
        background: url(#{$image-theme-base-path}cart.png) no-repeat scroll left center transparent;            
        width: 40px;
        height: 40px;
    }
}


.custhtmlcarosel{
  .carousel-control{
    background: lighten($theme-color-default, 5%);
    border:1px solid $brand-primary;
  }  
}
//menu
.sf-menu > li{
  &.sfHover,&.sfHoverForce {
    >a,>a:hover{
      color:$link-hover-color !important;
    }
  }
  >a:hover,>a:focus,>a:active{
    color:$link-hover-color !important;
  }
}
.sf-menu li li li a:hover{
    color:$link-hover-color !important;
}

//   WIDGET
  //slideshow
  .carousel-indicators li.active{
    background: $theme-color-default;
  }

  .item-container{
    .blog-viewmore a,.blog-title a:hover{
      color:$link-hover-color;
    }
  }

// product



.product-block{
	.name{
		a:hover{
            color: $product-name-hover-color;
        }
	}
}


// off canvas menu
#off-canvas-nav .offcanvas-mainnav{background-color: $theme-color-default;}